/* table, th, td {
	border: 1px solid;
}
*/

tr:hover {background-color: #dc949f;} 
th {
	background-color: #E51636;
	color: white;
  }
tr:nth-child(even) {background-color: #f2f2f2;}

.intro {
	text-align: center;
	font-size: 50px;
}

input {
	border: 2px solid #E51636;
	border-radius: 4px;
	/* background-color: red; */
  	/* color: white; */
	float: center;
}

#excessTable {
	width: 50%;
	margin-left: auto; 
  	margin-right: auto
}
.reddy {
	/* margin-right: 25%; */
	background-color: #E51636; /* Green */
	border: none;
	color: white;
	/* float: left; */
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-size: 16px;
}

th {
	text-align: center;
}

.startDate, .endDate {
    font-size: 15px;
    height: 45px;
}

.start {
    float: left;
	margin-left: 35px;
}

.end {
	float: left;
	margin-left: 65px;
}

.dateHeader {
	display: inline-block;
}

